<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="google-site-verification"
          content="VZ_toFli9T3xzyAZbnFtoKjH0sSkyejDfa5QYJTAmpE">

    <title>Oyun İndirimleri | Steam ve Epic Games</title>

    <meta name="description"
          content="Steam ve Epic Games üzerindeki güncel oyun indirimlerini keşfet.">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
          <meta name="google-site-verification" content="googlefd59a7711b881762" />
</head>

<body>
    <header>
        <h1>🎮 Oyun İndirimleri</h1>
        <p>Steam ve Epic Games indirimlerini keşfet</p>
    </header>

    <main>
        <div class="arama-kutusu">
            <input
                type="text"
                id="arama"
                placeholder="Oyun ara... Örnek: Red Dead"
                autocomplete="off"
            >

            <div id="oneriler"></div>
        </div>

        <p id="oyun-sayisi">
            {{ oyunlar|length }} indirimli oyun bulundu
        </p>

        <section id="oyunlar">
            {% for oyun in oyunlar %}
            <div class="oyun-karti">
                {% if oyun.resim %}
                <img
                    src="{{ oyun.resim }}"
                    alt="{{ oyun.ad }}"
                    loading="lazy"
                    onerror="this.style.display='none'"
                >
                {% endif %}

                <h2>{{ oyun.ad }}</h2>

                <p class="magaza">
                    Mağaza: {{ oyun.magaza }}
                </p>

                <p class="eski-fiyat">
                    <s>{{ oyun.eski_fiyat }}</s>
                </p>

                <p class="fiyat">
                    {{ oyun.yeni_fiyat }}
                </p>

                <p class="indirim">
                    {{ oyun.indirim }}
                </p>

                <a
                    href="{{ oyun.link }}"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Mağazada görüntüle
                </a>
            </div>
            {% endfor %}
        </section>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
<meta name="google-site-verification" content="googlefd59a7711b881762" />
